.events
	width: 1200px
	max-width: 100%

	margin: auto
	padding: 1em

	@extend %clearfix

.event
	width: 1200px
	max-width: 100%
	display: inline-block
	margin: 2.5% auto
	box-shadow: $boxShadow
	padding-bottom: 0.25em
	height: 425px
	border-radius: 4.5px

	@extend %clearfix

	
.titlesection
	background-color: rgba(34,31,32,1)
	text-align: center
	padding: 1em
	border-bottom: 1px solid $strokeColor
	border-radius: 4.5px 4.5px 0px 0px

	h2
		color: whitesmoke
		font-weight: 300

.imagesection
	height: 359px
	width: 233px
	float: left
	border-bottom-left-radius: 4.5px
	background-image:  -webkit-linear-gradient($green,$yellow )
	background-image:  -o-linear-gradient($green,$yellow )
	background-image:  linear-gradient($green,$yellow )

.datesection
	background-color: $whiteO
	height: 245px
	width: 215px
	position: relative
	float: left
	text-align: center
	margin: 3em 0 0 3em
	box-shadow: $boxShadow
	border: 1px solid $strokeColorD

	.month
		background-color: $yellowO
		font-size: 2.5em
		padding: 2.5px
		border-bottom: 1px solid $strokeColorD

	.day
		font-size: 6em
		color: black
		padding-top: 0.6em

	.time
		background-color: $greenO
		bottom: 0
		position: absolute
		width: 100%
		font-size: 2.5em
		padding: 2.5px
		border-top: 1px solid $strokeColorD

.moredetails
	float: left
	width: 54%
	color: black
	@extend %clearfix

	p
		margin: 2em

@media screen and (max-width: 1060px)

	.moredetails
		font-size: 0.9em

	.datesection
		margin: 1.5em 0px 0px 1.5em
		height: 150px

		width: 120px

		.month
			font-size: 1.5em
		.day
			font-size: 3.5em
		.time
			font-size: 1.5em

@media screen and (max-width: 820px)
	.event
		height: auto

	.moredetails
		width: 68%
		margin-bottom: 1em
		p
			margin: 1em

	.imagesection
		border-radius: 0


@media screen and (max-width: 750px)
	.imagesection
		margin: 1em auto
		display: block
		float: none

	.moredetails
		width: 65%


	.datesection
		margin: 2em 0 2em 1em
		height: 245px
		width: 215px

		.month
			font-size: 2.5em
		.day
			font-size: 6em
		.time
			font-size: 2.5em

@media screen and (max-width: 665px)
	.imagesection
		display: inline-block
		float: left
		margin: 5%

	.moredetails
		width: 100%

	.datesection
		margin: 9em 5% 0 5%

@media screen and (max-width: 580px)
	.imagesection
		margin: 3%

	.datesection
		margin-left: 3%
		margin-right: 3%

@media screen and (max-width: 530px)
	.imagesection
		margin: 1.75%
	.datesection
		margin-left: 1.75%
		margin-right: 1.75%
		margin-top: 6em

@media screen and (max-width: 505px)
	.imagesection, .datesection
		display: block
		margin: 1em auto
		float: none

@media screen and (max-width: 360px)
	.imagesection, .datesection
		width: 100%
		height: auto
		margin: 0

	.datesection
		width: 80%
		margin: 2em auto 0 auto
		.day
			height: 150px
			padding: 0.15em 0
